/*ESTILOS FOOTER*/
.footer__links {
    background-color: rgb(43, 2, 2);
}

#footer {
    display: flex;
    background-color: rgb(43, 2, 2);
    font-family: "Silkscreen", sans-serif;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

/*FOOTER LOGO*/
.footer__logo-pictureimg {
    width: 80px;
}

/*FOOTER LINKS*/
    .footer__links-copyright {
    background-color: rgb(43, 2, 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.footer__links-copyright p {
    color: white;
}
    
    /*FOOTER REDES*/
.footer__redes i {
    width: 40px;
    margin-left: 10px;
    font-size: 26px;
    color: white;
}

#body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 80px 1fr 1fr 50px;
    gap: 10px 20px;
}
    
.border {
    border: 1px black solid;
    background-color: white;
}

    #header {
    grid-area: header;
}

#nav {
    grid-area: nav;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}