/*RESPONSIVE*/
@media screen and (max-width: 749px) {
    #body {
    grid-template-areas: "header header" "nav     nav" "main   main" "main   main" "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 40px 2fr 2fr 40px;
    }
    .clips__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .inicio__contenidoVideo-iframe {
    width: 90vw;
    }
    .border {
    background-color: rgb(146, 0, 107);
    }
    .peliculas__grid {
        grid-template-columns: 1fr; 
    }

    .container-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-formulario {
        flex-direction: column; 
        justify-content: center;
    }

    .formulario, .contacto__contenido {
        width: 100%;
        justify-content: center; 
    }

    .main__banner-picture img {
        width: 100%; 
        height: auto;
    }

    .container-peli img {
        height: 10rem;
        width: 10rem;
        }
}
@media screen and (min-width: 750px) and (max-width: 900px) {
    #body {
    grid-template-areas: "header header header header" "main   main   main   main" "main   main   main   main" "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 60px;
    }
    .border {
    background-color: rgb(102, 255, 0);
    }
    .container-peli img {
        height: 10rem;
        width: 10rem;
        }

}
@media screen and (min-width: 901px) and (max-width: 1980px) {
    #body {
    grid-template-areas: "header header header header header" "main    main  main   main  main" "main    main  main   main  main" "main    main  main   main  main" "footer footer footer footer footer";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px 3fr 1fr 1fr 80px;
    }
    .border {
    background-color: white;
    }
    .container-peli img {
        height: 10rem;
        width: 10rem;
        }

    .container-contacto {
        display: flex;
    }

    .container-formulario {
        display: flex;
        justify-content: left;
    }
}

