@charset "UTF-8";
/*ESTILOS RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
}